.bundle
db/*.sqlite3
log/*.log
log/*/*.log
log/*/*/*.log
tmp/
.sass-cache/
public/assets/*
*.orig
coverage/
screenshots/
cucumber_junit/
analysis/
kickstarter/
rspec_results/*
.idea/*
.backups/*
*~
.DS_Store
._.DS_Store
*.swp
doc/*
dump/
.floo
.sublime-project
.gitconfig
